:root{
    --navcolor:#2E2F42;
    --contactcolor:#434455;
    --whitecolor:#FFFFFF;
    --butcolor:#4D5AE5;
    --clickcolor:#404BBF;
    --grecolor:#31D0AA;
    --sercolor:#F4F4FD;
    --serrcolor:#E7E9FC;
}
/* body */

.boddy{
        font-family: "Roboto", sans-serif;
    }



/* header */
.head{
    background: var(--whitecolor);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    
}
/* logo */
.web{
   

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color:  var(--butcolor);
text-decoration: none;
text-transform:uppercase;

}
/* logo2 */
.stud{
    
font-family: "Raleway";
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color:var(--navcolor);
text-decoration: none;
text-transform:uppercase;

}
/* Button stud */
.buttron{
    list-style-type: none;
}

.studios{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: var(--navcolor);
text-decoration: none;
}
.studios:hover{
    color:var(--contactcolor);
}
.studios:focus{
    color:var(--contactcolor);}
   
.studios:active{
    color:  var(--clickcolor)
}
    


/* Button portfolio */


.mail{
   

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5px;
color: var(--contactcolor);
text-decoration: none;


}
.mail:hover{
    color:var(--contactcolor);
}
.mail:focus{
    color:var(--contactcolor);
}

.mail:active{
    color: var(--clickcolor);
}
    
/* href number */


/* section1 */
.secone{
    background:var(--navcolor);
}
/* paragraf */
.effects{
   
    

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.07;
    color:  var(--whitecolor);
}



.butik{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    background: var(--butcolor);
    color:  var(--whitecolor);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 3;
}
.bitik:hover{
    background:var(--clickcolor);
}
.butik:focus{
    background:var(--clickcolor);
}

.butik:active{
    background:var(--clickcolor);
}  



/* section2 */
.advantages{
    background:   var(--whitecolor);
}
.adva{

    font-size: 0
}
/* Strategy */
.strategy{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navcolor);
}

.business{
    font-size: 16px;
    line-height: 1.5;
    color: var(--contactcolor);
}

/*3section*/
.doing{
    background:  var(--whitecolor);
}
.what{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: var(--navcolor);
}
.comp{
    width: 360px;
}

/*4section*/
.cot{
    background: var(--sercolor);
}
.team{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;  
    color:var(--navcolor);
}

.blue{
    width: 264px;
    height: 260px;
}
.mark{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navcolor);
}
.product{
    font-size: 16px;
    line-height: 1.5;
    color:var(--contactcolor);
}

/*--5section*/
.foot{
    background: var(--navcolor);
}

.bew{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color:  var(--butcolor);
    text-decoration: none;
    text-transform:uppercase;
}
.dio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color:  var(--sercolor);
    text-decoration: none;
    text-transform:uppercase;
}

.increase{
   
font-size: 16px;
line-height: 1.5;
color: var(--serrcolor);
}



/* pppppppppppppppooooooooooooooorrrrrrrrrrrrrttttttttttfffffffffoooooooooolllllliiiiiiiooooooo */
.torp{
    font-size:0px;
}
.all{
    font-family: 'Roboto';
    background:  var(--sercolor);
    color: var(--butcolor);
    cursor: pointer;
}
.all:hover{
    background:  var(--butcolor);
    color:  var(--whitecolor)};
.all:focus{
    background: var(--butcolor);
    color:  var(--whitecolor)};

.all:active{

    background:  var(--clickcolor);
    color:  var(--whitecolor);
}




.flower{
    text-decoration: none
}
.flowerone{
    width: 360px;
}
.flowertwo{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navcolor);
}
.flowersri{
    font-size: 16px;
    line-height: 1.5;
    color: var(--contactcolor);
    
}


