/* body */
.boddy{
        font-family: “Roboto”, sans-serif;
    }



/* header */
.head{
    background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    
}
/* logo */
.web{
   

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #4D5AE5;
text-decoration: none;

}
/* logo2 */
.stud{
    
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: #2E2F42;
text-decoration: none;


}
/* Button stud */
.studios{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
text-decoration: none;
}
.studios:hover{
    color: #434455;
    
}
.studios:active{
    color: #4D5AE5;
}
/* Button portfolio */
.port{
   
    
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    text-decoration: none;
  
}
.port:hover{
    color: #434455;
}
.port:active{
    color: #4D5AE5;
}
/* button contact */
.cont{
    

font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
text-decoration: none;
}
.cont:hover{
    color: #434455;
}
.cont:active{
    color: #4D5AE5;
}
/* href mail */

.mail{
   

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5px;
color: #434455;
text-decoration: none;


}
.mail:active{
    color: #4D5AE5;}
/* href number */

.telefon{
 
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    text-decoration: none;
  
}
.telefon:active{
    color: #4D5AE5;
}
/* section1 */
.secone{
    background: #2E2F42;
}
/* paragraf */
.effects{
   
    

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;
}

.efec{
    color: #FFFFFF;

}

.butik{
    
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    z-index: 3;
}
.bitik:hover{
    background:  #4D5AE5;
}
.butik:active{
background: 
#404BBF;
}


/* section2 */
.advantages{
    background:  #FFFFFF;
}
.adva{
    font-size: 0px; 
}
/* Strategy */
.strategy{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}

.business{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
/* Punctuality */
.punctuality{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.bring{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
/* Diligence */
.diligence{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.research{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
/* Technologies */
.technologies{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.design{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
/*3section*/
.doing{
    background: #FFFFFF;
}
.what{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
}
.comp{
    width: 360px;
}
.phone{
    width: 360px;
}
.note{
    width: 360px;
}
/*4section*/
.cot{
    background: #F4F4FD;
}
.team{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;  
    color: #2E2F42;
}

.blue{
    width: 264px;
    height: 260px;
}
.mark{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.product{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.white{
    width: 264px;
    height: 260px;
}
.Tom{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.frontend{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.rose{
    width: 264px;
    height: 260px;
}
.camila{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.marketing{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.gray{
    width: 264px;
    height: 260px;
}
.daniel{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.ui{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
/*--5section*/
.foot{
    background: #2E2F42;
}

.bew{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: #4D5AE5;
    text-decoration: none;
}
.dio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: #F4F4FD;
    text-decoration: none;
}

.increase{
   
font-size: 16px;
line-height: 1.5;
color: #E7E9FC;
}



/* pppppppppppppppooooooooooooooorrrrrrrrrrrrrttttttttttfffffffffoooooooooolllllliiiiiiiooooooo */
.torp{
    font-size:0px;
}
.all{
    background: #F4F4FD;
}
.all:hover{
    background: #4D5AE5;
}
.all:active{

    background: #404BBF;
}
.allone{
   
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
}

.allone:hover{
    color: #FFFFFF
}
.allone:active{
    color: #FFFFFF
}

.lla{
    background: #F4F4FD;
}
.lla:hover{
    background: #4D5AE5;
}
.lla:active{

    background: #404BBF;
}

.llaone{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5; 
}
.llaone:hover{
    color: #FFFFFF
}
.llaone:active{
    color: #FFFFFF
}
.app{
    background: #F4F4FD;
}
.app:hover{
    background: #4D5AE5;
}
.app:active{

    background: #404BBF;
}
.appone{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
}
.appone:hover{
    color: #FFFFFF
}
.appone:active{
    color: #FFFFFF
}
.ppa{
    background: #F4F4FD;
}
.ppa:hover{
    background: #4D5AE5;
}
.ppa:active{

    background: #404BBF;
}
.ppaone{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
}
.ppaone:hover{
    color: #FFFFFF
}
.ppaone:active{
    color: #FFFFFF
}

.allapp{
    background: #F4F4FD;
}
.allapp:hover{
    background: #4D5AE5;
}
.allapp:active{

    background: #404BBF;
}
.allappone{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
}
.allappone:hover{
    color: #FFFFFF
}
.allappone:active{
    color: #FFFFFF
}

.poncik{
    text-decoration: none
}
.kil{
    width: 360px;
}
.bakin{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2E2F42;


}
.pat{
    font-size: 16px;
line-height: 1.5;
color: #434455;

}
.tap{
    
}

.tarketfwo{
    text-decoration: none
}
.tarket{
    width: 360px;
}
.tarketone{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.tarkettwo{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
}
    
.tarketsri{
    font-size: 16px;
line-height: 1.5;
color: #F4F4FD;
}

.meditafwo{
    text-decoration: none
}
.medita{
    width: 360px;
}
.meditaone{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.meditatwo{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
}
.meditasri{}

.taxifwo{
    text-decoration: none
}
.taxi{
    width: 360px;
}
.taxione{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.taxitwo{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
}
.taxisre{}

.illustr{
    text-decoration: none
}
.illustrfwo{
    width: 360px;
}
.illustrone{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.illustrtwo{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
}
.illustrsri{}

.onlinefwo{
    text-decoration: none
}
.online{
    width: 360px;
}
.onlineone{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.onlinetwo{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
}
.onlinesri{}

.concept{
    text-decoration: none
}
.conceptfwo{
    width: 360px;
}
.conceptone{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.concepttwo{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
}
.conceptsre{}

.flower{
    text-decoration: none
}
.flowerone{
    width: 360px;
}
.flowertwo{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.flowersri{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
}
.flowerfwo{}

.cofe{
    text-decoration: none
}
.cofeone{
    width: 360px;
}

.cofetwo{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.cofesri{
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
}
.cofefwo{}